<!DOCTYPE html>
<html lang="en">

<head>
  <head th:insert="fragment.html :: headerfiles"></head>
  <title>Resultat</title>
</head>
<body>

<header th:insert="fragment.html :: header_bar"></header>
  <main id="main">

    <section id="breadcrumbs" class="breadcrumbs">
      <div class="breadcrumb-hero">
        <div class="container">
          <div class="breadcrumb-hero">
            <h2>Championnat</h2>
            <p>Toutes les Compétitions. </p>
          </div>
        </div>
      </div>
      <div class="container">
        <ol>
          <li><a href="index.html">Accueil</a></li>
          <li>Championnat</li>
        </ol>
      </div>
    </section>
    <section id="pricing" class="pricing">
      <div class="container">

        <div class="row" >
          <ul>
            <li data-th-each="championnat : ${ championnats }">
              <img data-th-src="@{'/img/' + ${championnat.logo}}"  />
              <h3 data-th-text="${championnat.nom}"></h3>
            </li>
          </ul>
        </div>
      </div>
    </section>
  </main>

<head th:insert="fragment.html :: footer_fragment"></head>

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
  <script src="../static/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="../static/vendor/aos/aos.js"></script>
  <script src="../static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../static/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="../static/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="../static/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="../static/vendor/waypoints/noframework.waypoints.js"></script>
  <script src="../static/vendor/php-email-form/validate.js"></script>
  <script src="../static/js/main.js"></script>

</body>

</html>