<!DOCTYPE html>
<html lang="en">
<head>
  <head th:insert="fragment.html :: headerfiles"></head>
  <title>Resultat</title>
</head>
<body>

<header th:insert="fragment.html :: header_bar"></header>

  <main id="main">
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="breadcrumb-hero">
        <div class="container">
          <div class="breadcrumb-hero">
            <h2>Création d'un Championnat</h2>
          </div>
        </div>
      </div>
      <div class="container">
        <ol>
          <li><a href="index.html">Accueil</a></li>
          <li>Créer un  Championnat</li>
        </ol>
      </div>
    </section>
    <section id="services" class="services ">
      <div class="container">
        <div class="row">
          <form method="post" action="create_champ" accept-charset="utf-8" data-th-action="@{'create_champ'}" data-th-object="${championnat}" >
          <div class="col-5">
            <div class="input-group mb-3">
              <label class="input-group-text">Nom du Championnat</label>
              <input id="nom" type="text" class="form-control" value="LeagueNew">
            </div>
            <div class="input-group mb-3">
              <span class="input-group-text">Pays</span>
              <input id="pays" type="text" class="form-control" value="Belgique">
            </div>
            <!--<div class="input-group mb-3">
              <span class="input-group-text">Nombre d'équipe</span>
              <input id="nbrEquipe" type="number" class="form-control">
            </div>-->
            <hr>
            <div class="mb-3">
              <label  class="form-label">Point attribués par match</label>
              <div class="input-group mb-3">
                <span class="input-group-text">Gagné</span>
                <input id="pointGagner" type="number" class="form-control" value="1" >
              </div>
              <div class="input-group mb-3">
                <span class="input-group-text">Perdu</span>
                <input id="pointPerdu" type="number" class="form-control" value="1">
              </div>
              <div class="input-group mb-3">
                <span class="input-group-text">Nul</span>
                <input id="pointNul" type="number" class="form-control" value="1">
              </div>
            </div>
          </div>
              <input type="submit" value="Créer le Championnat" class="btn btn-primary mb-3" />
            <div id="erreur" data-th-if="${#fields.hasAnyErrors()}">
              <p data-th-each="err : ${#fields.allErrors()}" data-th-text="${err}"> Erreurs </p>
            </div>
        </form>
        </div>
      </div>
    </section>
  </main>

  <footer th:insert="fragment.html :: footer_fragment"></footer>
  <script src="../static/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="../static/vendor/aos/aos.js"></script>
  <script src="../static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../static/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="../static/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="../static/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="../static/vendor/waypoints/noframework.waypoints.js"></script>
  <script src="../static/vendor/php-email-form/validate.js"></script>
  <script src="../static/js/main.js"></script>

</body>

</html>