<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>FootBall Ruby</title>
    <meta content="" name="description">
    <meta content="" name="keywords">
    <link href="assets/img/login/favicon.ico" rel="shortcut icon" type="image/x-icon">
    <link
        href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
        rel="stylesheet">
    <link href="assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
    <link href="assets/css/style.css" rel="stylesheet">
</head>
<body>

  <header id="header" class="fixed-top d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">
      <div class="logo">
        <h1 class="text-light"><a href="index.html">FootBall Ruby</a></h1>
      </div>
      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="active" href="index.html">Accueil</a></li>
          <li><a href="championnat.html">Championnat</a></li>
          <li class="dropdown"><a href="#"><span>Modification</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li class="dropdown"><a href="#"><span>Championnat</span> <i class="bi bi-chevron-right"></i></a>
                <ul>
                  <li><a href="create_champ.html">Créer</a></li>
                  <li><a href="modif_champ.html">Modifier</a></li>
                </ul>
              </li>
              <li class="dropdown"><a href="#"><span>Equipe</span> <i class="bi bi-chevron-right"></i></a>
                <ul>
                  <li><a href="creat_equipe.html">Créer</a></li>
                  <li><a href="modif_equipe.html">Modifier</a></li>
                </ul>
              </li>
              <li><a href="resultat.html">Résultats</a></li>
            </ul>
          </li>
          <li><a class="getstarted" href="#">Se Déconnecter</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav>
    </div>
  </header>

  <main id="main">
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="breadcrumb-hero">
        <div class="container">
          <div class="breadcrumb-hero">
            <h2>Modification des Equipes</h2>
          </div>
        </div>
      </div>
      <div class="container">
        <ol>
          <li><a href="index.html">Accueil</a></li>
          <li>Modification des Equipes</li>
        </ol>
      </div>
    </section>
    <section id="services" class="services ">
      <div class="container">
        <div class="row">
          <div class="col-5">
            <div class="input-group mb-3">
              <label class="input-group-text">Choisir l'équipe</label>
              <select class="form-select">
                <option selected>Choisir</option>
                <option value="1">Paris Saint-Germain</option>
                <option value="2">Lyon</option>
                <option value="3">Marseille</option>
                <option value="4">...</option>
              </select>
            </div>
            <div class="mb-3">
              <label for="basic-url" class="form-label">Infos de l'équipe</label>
              <div class="input-group mb-3">
                <span class="input-group-text">Fondé en</span>
                <input type="number" class="form-control">
              </div>
              <div class="input-group mb-3">
                <span class="input-group-text">Couleurs</span>
                <input type="text" class="form-control">
              </div>
              <div class="input-group mb-3">
                <span class="input-group-text">Président</span>
                <input type="text" class="form-control">
              </div>
              <div class="input-group mb-3">
                <span class="input-group-text">Entraîneur</span>
                <input type="text" class="form-control">
              </div>
              <div class="input-group mb-3">
                <span class="input-group-text">Twitter</span>
                <input type="text" class="form-control">
              </div>
            </div>
            <hr>
            <div class="mb-3">
              <label for="basic-url" class="form-label">Divers</label>
              <div class="input-group mb-3">
                <span class="input-group-text">Propriétaire</span>
                <input type="text" class="form-control">
              </div>
              <div class="input-group mb-3">
                <span class="input-group-text">Président</span>
                <input type="text" class="form-control">
              </div>
              <div class="input-group mb-3">
                <span class="input-group-text">Siège</span>
                <input type="text" class="form-control">
              </div>
              <div class="input-group mb-3">
                <span class="input-group-text">Stade</span>
                <input type="text" class="form-control">
              </div>
              <div class="input-group mb-3">
                <span class="input-group-text">Nbre de places</span>
                <input type="number" class="form-control">
              </div>
            </div>
          </div>
          <div class="col-5">
            <div class="mb-3">
              <label for="basic-url" class="form-label">Palmares 1</label>
              <div class="input-group mb-3">
                <span class="input-group-text">Coupe</span>
                <input type="text" class="form-control">
                <span class="input-group-text">Championnat</span>
                <input type="text" class="form-control">
                <span class="input-group-text">Année</span>
                <input type="text" class="form-control">
              </div>
            </div>
            <div class="mb-3">
              <label for="basic-url" class="form-label">Palmares 2</label>
              <div class="input-group mb-3">
                <span class="input-group-text">Coupe</span>
                <input type="text" class="form-control">
                <span class="input-group-text">Championnat</span>
                <input type="text" class="form-control">
                <span class="input-group-text">Année</span>
                <input type="text" class="form-control">
              </div>
            </div>
            <div class="mb-3">
              <label for="basic-url" class="form-label">Palmares 3</label>
              <div class="input-group mb-3">
                <span class="input-group-text">Coupe</span>
                <input type="text" class="form-control">
                <span class="input-group-text">Championnat</span>
                <input type="text" class="form-control">
                <span class="input-group-text">Année</span>
                <input type="text" class="form-control">
              </div>
            </div>
            <div class="mb-3">
              <label for="basic-url" class="form-label">Palmares 4</label>
              <div class="input-group mb-3">
                <span class="input-group-text">Coupe</span>
                <input type="text" class="form-control">
                <span class="input-group-text">Championnat</span>
                <input type="text" class="form-control">
                <span class="input-group-text">Année</span>
                <input type="text" class="form-control">
              </div>
            </div>
            <div class="mb-3">
              <label for="basic-url" class="form-label">Palmares 5</label>
              <div class="input-group mb-3">
                <span class="input-group-text">Coupe</span>
                <input type="text" class="form-control">
                <span class="input-group-text">Championnat</span>
                <input type="text" class="form-control">
                <span class="input-group-text">Année</span>
                <input type="text" class="form-control">
              </div>
            </div>
            <div class="mb-3">
              <label for="basic-url" class="form-label">Palmares 6</label>
              <div class="input-group mb-3">
                <span class="input-group-text">Coupe</span>
                <input type="text" class="form-control">
                <span class="input-group-text">Championnat</span>
                <input type="text" class="form-control">
                <span class="input-group-text">Année</span>
                <input type="text" class="form-control">
              </div>
            </div>
            <div class="mb-3">
              <label for="basic-url" class="form-label">Palmares 7</label>
              <div class="input-group mb-3">
                <span class="input-group-text">Coupe</span>
                <input type="text" class="form-control">
                <span class="input-group-text">Championnat</span>
                <input type="text" class="form-control">
                <span class="input-group-text">Année</span>
                <input type="text" class="form-control">
              </div>
            </div>
            <hr>
            <div class="input-group mb-3 d-flex flex-row-reverse">
              <button type="submit" class="btn btn-primary mb-3">Modifier l'équipe</button>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>

  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-info">
            <h3>Football Ruby</h3>
            <p>bla bla bla</p>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>liens Utiles</h4>
            <ul>
              <li><a href="#">bla bla</a></li>
              <li><a href="#">bla bla</a></li>
              <li><a href="#">bla bla</a></li>
              <li><a href="#">bla bla</a></li>
              <li><a href="#">bla bla</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-contact">
            <h4>CONTACTEZ-NOUS</h4>
            <p>
              bla bla <br>
              bla bla<br>
              bla bla <br>
              <strong>Téléphone :</strong> bla bla<br>
              <strong>Email :</strong> bla bla<br>
            </p>

            <div class="social-links">
              <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
              <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
              <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
              <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
            </div>

          </div>

          <div class="col-lg-3 col-md-6 footer-newsletter">
            <h4>Newsletter</h4>
            <p>bla bla</p>
            <input type="email" name="email"><input type="submit" value="S'inscrire">
          </div>

        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>Football Ruby</span></strong>.
      </div>
    </div>
  </footer>

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
      class="bi bi-arrow-up-short"></i></a>
  <script src="assets/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="assets/vendor/aos/aos.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="assets/vendor/waypoints/noframework.waypoints.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>
  <script src="assets/js/main.js"></script>

</body>

</html>